.intro {
    width: inherit;
    height: inherit;

    background-color: #000;
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

    color: #fff;

}
.intro_logo_container {
    width: 33.26vw;
    margin: 0 auto;
    padding-top: 7.29vw;
    padding-bottom: 10.21vw;    
}
.intro_logo {
    width: 100%;
    height: auto;
}
.intro_first,
.intro_second {
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.intro_button_first,
.intro_button_second {
    font-family: 'VKDisplay Medium';
    background-color: #0077FF;
    color: #fff;
    font-size: 3.81vw;
    border-radius: 2.22vw;
}
.intro_button_first {
    margin-top: 3.13vw;
    width: 35.42vw;
    height: 8.31vw;
}
.intro_button_second {
    margin-top: 9.31vw;
    width: 29.24vw;
    height: 8.31vw;
}
.intro_title {
    font-family: 'VKDisplay Medium';
    font-size: 5vw;
}
.intro_subtitle {
    font-family: 'VKDisplay Regular';
    font-size: 4.51vw;
    margin-bottom: 7vw;
    margin-top: 3.13vw;
}